apiVersion: v1
kind: Service
metadata:
  name: sonarqube-postgresql-service
  namespace: sonarqube
spec:
  selector:
    app: postgresql
  ports:
    - port: 5432
      targetPort: 5432
  type: ClusterIP