apiVersion: apps/v1
kind: Deployment
metadata:
  name: sonarqube-postgresql
  namespace: sonarqube
  labels:
    app: postgresql
    component: sonarqube-db
spec:
  replicas: 1
  selector:
    matchLabels:
      app: postgresql
  template:
    metadata:
      labels:
        app: postgresql
        component: sonarqube-db
    spec:
      containers:
      - name: postgresql
        image: postgres:13-alpine
        ports:
        - containerPort: 5432
          name: postgresql
        env:
        - name: POSTGRES_USER
          value: "sonar"
        - name: POSTGRES_PASSWORD
          value: "sonar"
        - name: POSTGRES_DB
          value: "sonar"
        - name: PGDATA
          value: "/var/lib/postgresql/data/pgdata"
        resources:
          limits:
            memory: "1Gi"
            cpu: "500m"
          requests:
            memory: "512Mi"
            cpu: "250m"
        volumeMounts:
        - mountPath: /var/lib/postgresql/data
          name: postgresql-data
        livenessProbe:
          exec:
            command:
            - pg_isready
            - -U
            - sonar
          initialDelaySeconds: 60
          periodSeconds: 30
          timeoutSeconds: 5
        readinessProbe:
          exec:
            command:
            - pg_isready
            - -U
            - sonar
          initialDelaySeconds: 15
          periodSeconds: 10
          timeoutSeconds: 3
      volumes:
      - name: postgresql-data
        persistentVolumeClaim:
          claimName: postgresql-pvc
