apiVersion: v1
kind: Service
metadata:
  name: sonarqube-service
  namespace: sonarqube
  annotations:
    prometheus.io/scrape: "true"
    prometheus.io/port: "9000"
spec:
  selector:
    app: sonarqube
  ports:
    - port: 9000
      targetPort: 9000
      nodePort: 30002
  type: NodePort